.home-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.calendar {
  width: 50%;
  margin: 20px 20px;
}

.todos-today {
  width: 50%;
  margin: 20px 20px;
}

.todo-list {
  height: 75vh;
  overflow: auto;
}

.todos-today h1 {
  margin-bottom: 20px;
}

.fc-event-time, .fc-event-title {
padding: 0 1px;
white-space: normal;
}

@media (max-width: 800px) {
  .home-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .calendar {
    width: 90%;
    margin: 20px 20px;
  }

  .todos-today {
    width: 90%;
    margin: 20px 20px;
    height: 45vh;
    order: 1
  }
}
